@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
}
img {
  max-width: 100%;
}

.carousel-item {
  background-color: #f368e0;
  background-image: linear-gradient(315deg, #f368e0 0%, #d3d3d3 74%);
  border-radius: 10px;
}
.cata-1 {
  background-color: #f7b42c;
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
  border-radius: 10px;
}
.cata-2 {
  background-color: #ee5166;
  background-image: linear-gradient(315deg, #ee5166 0%, #f08efc 74%);
  border-radius: 10px;
}
.cata-3 {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  border-radius: 10px;
}
.buynow-btn {
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
}
.subscribe {
  background-color: #f368e0;
  background-image: linear-gradient(315deg, #f368e0 0%, #d3d3d3 74%);
  border-radius: 10px;
}
